@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.blog-title {
    font-size: 2rem;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;;
}

